---
import ThemeController from "@/react-components/composables/ThemeController";
import UserMenu from "@components/astro-components/navigations/UserMenu.astro";
import NavbarCart from "@components/vue-components/navigations/NavbarCart.vue";
const { auth, user_id } = Astro.locals;


---

<nav class="navbar bg-base-200 xl:px-36 2xl:px-48" aria-label="navigation">
	<div class="flex-1">
		<a class="btn btn-ghost text-xl font-bold" href="/" >F-Shop</a>
	</div>
	<div class="flex-none">
		<ThemeController client:idle />
		<a href="/products" class="px-4 py-2 rounded btn-ghost">Products</a>
		{
			auth ?
			<NavbarCart id={user_id!} client:idle/>
			<UserMenu />
			:
			<a href="/login" class="ms-4 inline-block hover:underline rounded-full">Login</a>
		}
	</div>
</nav>
