---
const bg = "bg-[url('https://images.unsplash.com/photo-1501523460185-2aa5d2a0f981?q=80&w=2131&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')]";
---
  <!-- Hero Section -->
  <div class:list={['w-full h-[60vh] bg-cover bg-center bg-black/60 bg-blend-multiply', bg]}>
    <div class="h-full w-full backdrop-blur-[2px] grid place-content-center ">
      <div class="container mx-auto text-center text-white">
        <h1 class="2xl:text-5xl xl:text-4xl text-xl font-bold mb-4">Welcome to F-Shop</h1>
        <p class="text-xl mb-8">
          Discover the latest trends in fashion, electronics, and more.
        </p>
        <a
        href="/products"
        class="bg-primary text-white py-3 px-6 rounded-full font-semibold hover:bg-primary/70"
        data-astro-prefetch
        >Shop Now</a
        >
      </div>
    </div>
  </div>