---
import RegisterForm from "@/vue-components/forms/RegisterForm.vue";
import MainLayout from "src/layouts/MainLayout.astro";
---
<MainLayout>
  <div class="flex items-center justify-center min-h-[78vh] 2xl:min-h-[82vh]">
    <RegisterForm client:load >
    </RegisterForm>
</div>
</MainLayout>